.homepage_image {
  width: 100%;
  height: 636px;
  left: 0px;
  object-fit: cover;
}

.hometext-left {
  position: absolute;
  height: 66px;
  left: 75px;
  top: 19rem;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-shadow: 1px 1px 2px black;
}

.hometext-right {
  position: absolute;
  height: 66px;
  right: 75px;
  top: 18rem;
  font-weight: 400;
  font-size: 45px;
  line-height: 40px;
  text-shadow: 1px 1px 2px black;
}

// .hometext-center {
//   position: absolute;
//   top: 35rem;
//   left: 0;
//   right: 0;
//   text-align: center;
//   font-weight: 400;
//   font-size: 45px;
//   line-height: 54px;
//   text-shadow: 1px 1px 2px black;
//   background-color: #007A78;
// }

// .hometext-black {
//   color: white;
//   font-weight: 600;
//   -webkit-text-stroke: 1px black;
// }

.hometext-yellow {
  background-color: #007A78;
  color: #FFC745;
  padding: 0 7px;
}

.hometext-white {
  color: #FFFFFF;
  font-weight: 600;
}

.hometext-green {
  color: #007A78;
  font-weight: 600;
}

.body-left {
  position: relative;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
}

.body-right {
  position: relative;
  text-align: right;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
}

.link-text {
  margin-bottom: 1rem;
  font-size: large;
  a {
    text-decoration: none;
    color:  black;
    background: linear-gradient(0deg, #007A78, #007A78) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  a:hover {
    padding-bottom: 2px;
    --bg-h: 2px;
  }
}

.link-text-red {
  margin-bottom: 1rem;
  font-size: large;
  a {
    text-decoration: none;
    color:  black;
    background: linear-gradient(0deg, red, red) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  a:hover {
    padding-bottom: 2px;
    --bg-h: 2px;
  }
}


.home-text {
  position: relative;
  font-size: 22px;
}

.box-image {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.background-image {
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  filter: blur(15px);
}
