
<h3>index page</h3>
<% @chatrooms.each do |chatroom| %>
  <h2>test</h2>
    <a href= <%= user_band_path(user_id: band.user_id, id: band.id) %> style="text-decoration: none, color: inherit">

<% end %>
