<div class="d-flex">
  <div>
    <h2>Your Messages</h2>
    <% @user_chatrooms.each do |chatroom| %>
      <h2>
        <a href="<%= chatroom_path(chatroom.id) %>">
          <%= User.find(chatroom.receiver.id).full_name %> <%= User.find(chatroom.receiver.id).nickname %>
        </a>
      </h2>
    <% end %>
  </div>
</div>
