<% @users.each do |user|%>
  <div class="card d-flex w-25">
    <div class="card-body ">
      <h2> <%= @user.id == user.id ? "*" : "" %> <%=link_to user.full_name, user %> </h2>
      <h4> <%=user.email%></h4>

      <h4> <%=user.description%></h4>
    </div>
  </div>

<% end %>
