.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 150px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-bordered-small {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-wrapper-square {
  position: relative;
  overflow: hidden;
}

.avatar-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.avatar-wrapper:hover .avatar-hover {
  opacity: 1;
  font-size: 1.4em;
  transition: 0.3s ease-in-out;
  color: white;
}

.avatar-hover:active {
  opacity: 1;
  font-size: 1.4em;
  transition: 0.3s ease-in-out;
  color: white;
}


.avatar-wrapper-square:hover .avatar-hover {
  opacity: 1;
  font-size: 1.4em;
  transition: 0.3s ease-in-out;
}

.edit-link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.edit-link:hover {
  color: white;
  transform: scale(1.1);
}
