.red-button{
  background-color: #A11209;
  color: #FFFFFF;
  opacity: 0.7;
  border: none;
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}

.red-button:hover{
  background-color: #A11209;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
  opacity: 1;
  transition: 0.3s ease;
}

.red-button:active{
  background-color: #A11209 !important;
}

.green-button{
  background-color: #007A78;
  color: #FFFFFF;
  opacity: 0.7;
  border: none;
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}

.green-button:hover{
  background-color: #007A78;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
  opacity: 1;
  transition: 0.3s ease;
}

.green-button:active{
  background-color: #007A78 !important;
}

.principal-button{
  background-color: #A020F0;
  color: #FFFFFF;
  opacity: 0.7;
  border: none;
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}

.principal-button:hover{
  background-color: #A020F0;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
  opacity: 1;
  transition: 0.3s ease;
}

.principal-button:active{
  background-color: #A020F0 !important;
}
