.navbar-la-musique {
  height: 90px;
  background: #E0E9EB;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset;
}

.logo-navbar {
  position: absolute;
  left: 70px;
  // right: 92.06%;
  height: 60px;
  width: 60px;
}

.profile-picture-small {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.icon-navbar {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  opacity: 0.7;
}

.icon-navbar:hover {
  opacity: 1;
}

.dropdown-menu {
  background: #E0E9EB;
}

.card-body-navbar {
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  top: 90px;
  background: #E0E9EB;
  height: 90px;
  justify-content: center;
}

.searchBox {
  position: absolute;
  align-items: center;
  left: 50%;
  transform:  translate(-50%);
  background: #E0E9EB;
  border-radius: 40px;
  padding: 8px;
  border:solid;

}

.searchBox:hover > .searchInput {
  width: 350px;
  padding: 0 10px;
}

.searchButton {
  float: right;
  width: 40px;
  height: 40px;
  border:none;
  // border-radius: 50%;
  background: #E0E9EB;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  outline: none;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: black;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.boton-verde{
  background-color: #007A78;
  color: #FFC745;
  opacity: 0.7;
  border: none;
  text-shadow: 1px 1px 2px black;
}

.boton-verde:hover{
  background-color: #007A78;
  color: #FFC745;
  text-shadow: 1px 1px 2px black;
  opacity: 1;
}

.boton-verde:active{
  background-color: #007A78 !important;
}
