.tag__item {
  display: inline-block;
  background: rgba(80, 80, 80, 0.2);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(80, 80, 80, 0.5);
  }
}
